.layout{width:720px;}
.wrap_1296{width:620px;margin:auto;position: relative;}
.wrap_1620{width:620px;margin:auto;position: relative;}
.header{width:100%;height: 118px;position: absolute;z-index: 1500;max-width: 720px;}
.header.on{background:#000;}
.header .logo{display: inline-block;vertical-align: middle;position:absolute;left:50px;top:34.5px;}
.header .logo a{display: inline-block;height: 45px;width:192px;background:url(../../images/mobile/common/logo.png) 0 0 no-repeat;}
.header .btn_ham{width:40px;height: 28px;background: url(../../images/mobile/common/btn_menu.png) 0 0 no-repeat;position: absolute;right:50px;top:45px;text-indent: -9999px;}
.header .language{position: absolute;right:120px;top:45px;cursor: pointer;}
.header .language a{display:inline-block;color:#fff;font-size:17px;vertical-align: middle;font-weight: 500;border:1px solid #fff;border-radius:14px;width:75px;height:28px;line-height:28px;text-align: center;}

/* lnb */
.lnbContainer {display:block;position:fixed;top:0;left:0;z-index:1000;width:720px;height:1314px;background: url(../../images/mobile/common/lnb_bg.png) no-repeat 0 0;transform:matrix(1,0,0,1,0,-1314);-webkit-transform:matrix(1,0,0,1,0,-1314);transition:transform .2s ease-out}
.header .btn_lnb_close {position:absolute;top:46px;right:50px;width:29px;height:29px;background:url(../../images/mobile/common/btn_menuClose.png) no-repeat 0 0;text-indent:-9999px;display: none;}
.lnbContainer .lnb {display:block;overflow:hidden;width:720px;margin:240px auto 0}
.lnbContainer .lnb > li {width:720px;text-align:center;margin-bottom: 50px;}
.lnbContainer .lnb > li > a {font-weight:700;font-size:36px;color:#fff;text-transform:uppercase}
.lnbContainer .lnb > li:last-child > a{background:#66278E url(../../images/mobile/common/ico_store.png) 66px 31px no-repeat;border-radius: 47px;text-align: center;display: block;width:480px;text-align: center;height: 93px;line-height: 93px;font-weight: 500;margin: auto;box-sizing: border-box;padding-left:50px;}

.footer{width:100%;background:#303030;padding: 60px 0}
.footer .info{display: inline-block;vertical-align: middle;}
.footer .info p{text-align: left;color:#D6D6D6;font-size:18px;margin-bottom:20px;font-weight: 300;line-height: 1.8;}
.footer .info p:last-child{margin-bottom: 0;color:#AEAEAE}
.footer .info .space{display: inline-block;width:1px;height:18px;background: #D6D6D6;margin:0 15px;vertical-align: middle;margin-top:-3px;opacity:0.5}
.footer .info strong{display: inline-block;margin-right: 5px;}
.footer .ft_logo{width:210px;height: 49px;background: url(../../images/mobile/common/ft_logo.png) 0 0 no-repeat;text-indent: -9999px;display:block;margin-bottom:35px}

.animated{opacity: 0;}

.btn_top{width:80px;height:80px;position:fixed;right:50px;bottom:50px;background:url(../../images/mobile/common/btn_top.png) 0 0 no-repeat;display:none;z-index:100}

.error{background:#fff;height:100%;position:relative;left:0;top:0;width:100%;overflow-x:hidden}
.error .wrap_1296{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.error .error_area li{display:block;text-align:center;}
.error .error_area li:last-child{margin-top:35px;}
.error .name{font-weight:700;font-size:130px;color:rgba(102,184,33,0.25);text-align:center;}
.error .tit{font-weight:500;font-size:30px;color:#3E3E3E;text-align:center;}
.error .desc{font-weight:300;font-size:20px;color:#737373;margin:20px 0 93px 0;text-align:center;}
.error .btn_return{color:#fff;font-weight: 500;font-size: 24px;display: block;width:390px;height:64px;line-height:64px;border-radius:32px;background:#66B821;text-align:center;margin:auto;}
.error .btn_return em{display: inline-block;vertical-align: middle;margin-right:15px;width:21px;height:16px;background:url(../../images/web/common/ico_page.png) 0 0 no-repeat;margin-top:-3px}

/*공통*/
.layerPop{position: absolute;box-shadow: 0 0 25px rgba(0,0,0,0.2);display: none;left:50%;top:50%;}
.layerPop .innerPop{position: relative;}
.layerPop .btn_close{width:44px;height: 44px;background: url(../images/common/ico_pop_close.png) 0 0 no-repeat;display:inline-block;position: absolute;right:30px;top:30px;background-size: cover;}
.mask{width:100%;height: 100%;position: fixed;background: rgba(0,0,0,0.8);z-index: 100;left:0;top:0;display: none}

/*통합팝업*/
.layer_mask01 {display:none;position:fixed;top:0;left:0;z-index:260;width:100%;height:100%;background-color:black;opacity:.6;filter:alpha(opacity=60)}
.layer_pop01 {display:none;position:absolute;top:50%;left:50%;z-index:270;width:540px;height:688px;margin-left:-270px;box-sizing:border-box;overflow:hidden;}
.layer_pop01_cont {overflow:hidden;position:relative;width:100%;border-radius:10px}
.todayPop01_table {width:540px;border-collapse:collapse;border:0 none}
.todayPop01_table * {margin:0;padding:0;vertical-align:middle;}
.todayPop01_top {text-align:center}
.todayPop01_top a{display:block;}
.todayPop01_top img{width:100%}
.todayPop01_table .layer_pop_close_01 {display:inline-block;position:absolute;bottom:0px;right:15px;color:#303030;font-weight:400;font-size:19px;vertical-align:middle;}
.todayPop_bottom01{height:47px;line-height:47px;background:#fff;}
.todayPop_bottom01 .input_chk {width:20px;height:20px;margin-right:4px;vertical-align:middle;}
.todayPop_bottom01 label {font-weight:400;font-size:19px;color:#303030;vertical-align:middle;}
.todayPop_bottom01 .bottom_l{position:absolute;left:15px;bottom:0px;}
